body {
  background: url('../images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.parallax {
	height: 100vh;
}

.parallax h1 {
	font-size: 4em;
	color: #eee;
}

.vmiddle {
	position: relative;
	text-align: center;
	width: 100%;
}

.vmiddle div {
	position: absolute;
	top: 30%;
	width: 100%;
}

.credits {
	background-color: lightblue;
	text-align: center;
}

.comingsoon {
	background: darkgreen;
	position: absolute;
	left: -20;
	-moz-transform:rotate(-32deg);
	-webkit-transform:rotate(-32deg);
	padding: 5px
}
