.parallax {
	height: 100vh;
}
.headroom {
	padding-top: 30%;
}

.vmiddle {
	position: relative;
	text-align: center;
	width: 100%;
}

.vmiddle div {
	position: absolute;
	top: 50%;
	margin-top: -5em;
	width: 100%;
}

.credits {
	background-color: lightblue;
	text-align: center;
}
