.parallax {
	height: 100vh;
}
.headroom {
	padding-top: 30%;
}

.main {
	text-align: center;
	display:table-cell;
	vertical-align: middle;
}

.credits {
	background-color: lightblue;
	text-align: center;
}